extends layout

block content
  h1= title
  p With over 10,000 titles, The Modern Cinematic Collection offers the best selection of movies and TV shows available.Most new releases are available for download weeks before you can purchase them on disc. With personalized recommendations, you’re sure to discover something you’ll love.
  
