extends layout
block content
    form(action="", method="post", role="form")
        label(for='name') Name:
        input(type='text', placeholder='movie name' name='name')
        br
        br
        
        label(for='type') Type:
        input(type='text', placeholder='type' name='type')
        br
        br
        
        input(type='submit' value='submit') 